@model Intillegio.DTOs.BindingModels.Admin.AdminSolutionBindingModel

@{
    ViewData["Title"] = "AddSolution";
    Layout = "~/Areas/Administration/Shared/_Layout.cshtml";
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-success text-white">
            <h5 class="modal-title">Add Service</h5>
        </div>
        <div class="modal-body">
            <form asp-action="AddSolution" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About" class="control-label"></label>
                    <input asp-for="About" class="form-control" />
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image825X445" class="control-label"></label>
                    <input asp-for="Image825X445" class="form-control" />
                    <span asp-validation-for="Image825X445" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image255X155" class="control-label"></label>
                    <input asp-for="Image255X155" class="form-control" />
                    <span asp-validation-for="Image255X155" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image65X65" class="control-label"></label>
                    <input asp-for="Image65X65" class="form-control" />
                    <span asp-validation-for="Image65X65" class="text-danger"></span>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <a asp-area="Administration" asp-controller="SolutionsAdmin" asp-action="SolutionsAdmin" class="btn btn-secondary">Close</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}