<div class="section-block-parallax section-md" style="background-image: url(http://via.placeholder.com/1730x200);">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-12">
                <div class="section-heading white-color mt-15">
                    <span>Gain a Success with Us !</span>
                    <h3>Get to know us better !</h3>
                    <div class="section-heading-line-left"></div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="counter-box white-color">
                            <h4 class="countup">1530</h4>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="counter-box white-color">
                            <h4 class="countup">1240</h4>
                            <p>Projects Finished</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="counter-box white-color">
                            <h4 class="countup">1380</h4>
                            <p>Business Solutions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
