@model Intillegio.DTOs.BindingModels.ServicesViewModel
@{
    ViewData["Title"] = "Solution Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Solutions/PartialViews/SolutionDetails/_DetailsPageTitle.cshtml" />
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <partial name="~/Views/Solutions/PartialViews/SolutionDetails/_VerticalMenu.cshtml" />
                    <div class="services-single-left-heading mt-40">
                        <h4>Need Help ?</h4>
                    </div>
                    <ul class="primary-list mt-30">
                        <li><i class="fa fa-globe"></i>Rousse, Bulgaria EU 104 Pliska str 7004</li>
                        <li><i class="fa fa-phone"></i>(+359) 89 440 5960</li>
                        <li><i class="fa fa-envelope-open"></i>office@intillegio.eu</li>
                    </ul>
                    <partial name="~/Views/Solutions/PartialViews/SolutionDetails/_Callback.cshtml", view-data="ViewBag.CallBack" />
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-12">
                <div class="services-single-right">
                    <img src="@Model.Solution.Image825X445" class="rounded-border" alt="img">
                    <div class="text-content-big mt-20">
                        <p>
                            @Model.Solution.About
                        </p>
                    </div>
                    <div class="row mt-30">
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="pr-15-md">
                                <div class="section-single-heading">
                                    <h4>@Model.Solution.Name</h4>
                                </div>
                                <ul class="primary-list mt-35">
                                    @foreach (var fps in Model.Solution.FinancialPlanningStrategies)
                                    {
                                        <li><i class="fa fa-check"></i>@fps.Name</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="section-single-heading">
                                <h4>Analyze Your Business</h4>
                            </div>
                            <canvas id="chart-area" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                    <partial name="~/Views/Solutions/PartialViews/SolutionDetails/_Accordions.cshtml" />
                    <div class="section-single-heading mt-50">
                        <h4>About Our Company</h4>
                    </div>
                    <div class="text-content-big mt-15">
                        <p>
                            Intillegio Ltd offers high quality services and professional solutions to foreign companies which want to enter or to 
                            extend their business on the Romanian market.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section PieChart
    {
    <script src="~/lib/jquery/dist/Chart.bundle.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/utils.js" asp-append-version="true"></script>
}
<partial name="~/Views/Shared/_ClientsCarousel.cshtml" />