
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Shop/PartialViews/ProductDetails/_ProductDetailsPageTitle.cshtml" />

<!-- Shop Single START -->
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <!-- Product Images & Alternates -->
                <div class="product-images">
                    <!-- Begin Product Images Slider -->
                    <div class="main-img-slider">
                        <figure>
                            <a href="#" data-size="1400x1400">
                                <img src="http://via.placeholder.com/540x540" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a href="#" data-size="1400x1400">
                                <img src="http://via.placeholder.com/540x540" data-lazy="http://via.placeholder.com/540x540" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a href="#" data-size="1400x1400">
                                <img src="http://via.placeholder.com/540x540" data-lazy="http://via.placeholder.com/540x540" alt="" />
                            </a>
                        </figure>
                        <figure>
                            <a href="#" data-size="1400x1400">
                                <img src="http://via.placeholder.com/540x540" data-lazy="http://via.placeholder.com/540x540" alt="" />
                            </a>
                        </figure>
                    </div>
                    <!-- End Product Images Slider -->
                    <!-- Begin product thumb nav -->
                    <ul class="thumb-nav">
                        <li><img src="http://via.placeholder.com/135x135" alt="product-thumb" /></li>
                        <li><img src="http://via.placeholder.com/135x135" alt="product-thumb" /></li>
                        <li><img src="http://via.placeholder.com/135x135" alt="product-thumb" /></li>
                        <li><img src="http://via.placeholder.com/135x135" alt="product-thumb" /></li>
                    </ul>
                    <!-- End product thumb nav -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="single-product">
                    <h2>Effective Finance Solutions</h2>
                    <div class="product-review-area">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>

                        <span>(1 customer review)</span>
                    </div>

                    <!-- Price Start -->
                    <div class="single-product-price">
                        <h4>$1.750</h4>
                    </div>
                    <!-- Price End -->

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate.
                    </p>

                    <!-- Quantity Form and Button Start -->
                    <div class="quantity mt-30">
                        <form method="get">
                            <input type="number" name="quantity" min="1" max="9" step="1" value="1">
                            <button type="submit" class="dark-pulse-button add-to-cart-button">Buy Now</button>
                        </form>
                    </div>
                    <!-- Quantity Form and Button End -->

                    <div class="product-categories">
                        <div class="display-b">
                            <span>Category: </span>
                            <ul>
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Fiance</a></li>
                            </ul>
                        </div>
                        <div class="display-b">
                            <span>Product ID: </span>
                            <ul>
                                <li>789654</li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-tags">
                        <div class="display-b">
                            <span>Product Tags: </span>
                            <ul>
                                <li><a href="#">Fiance</a></li>
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Strategy</a></li>
                                <li><a href="#">Planning</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-share mt-20">
                        <span>Share: </span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>

                </div>
            </div>
        </div>

        <!-- Middle Part START -->
        <div class="row">
            <div class="col-md-12">
                <!-- Tabs Start -->
                <div class="shop-tabs">
                    <div class='tabs tabs_animate mt-70'>
                        <ul class="tab-menu left-holder">
                            <li><a href="#tab-1">Description</a></li>
                            <li><a href="#tab-2">Additional Information</a></li>
                            <li><a href="#tab-3">Reviews (1)</a></li>
                        </ul>

                        <!-- Tab 1 Start -->
                        <div id='tab-1' class="clearfix product-tab-body">
                            <h3>Product Description</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                        <!-- Tab 1 End -->
                        <!-- Tab 2 Start -->
                        <div id='tab-2' class="clearfix product-tab-body">
                            <h3>Product Features</h3>
                            <ul>
                                <li><span>Name:</span>Effective Finance Solutions</li>
                                <li><span>Category:</span>Book</li>
                                <li><span>Size:</span>15x20 cm</li>
                                <li><span>Weight:</span>0.55 kg</li>
                                <li><span>Material:</span>Paper</li>
                                <li><span>Color:</span>White & Red</li>
                            </ul>
                        </div>
                        <!-- Tab 2 End -->
                        <!-- Tab 3 Start -->
                        <div id='tab-3' class="clearfix product-tab-body">
                            <h3>Customer Reviews</h3>
                            <!-- Customer Review Start -->
                            <div class="customer-review">
                                <div class="row">
                                    <div class="col-md-1 pr-0 hidden-sm-down">
                                        <img src="http://via.placeholder.com/75x75" alt="member">
                                        <div class="customer-review-stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-11 col-12">
                                        <div class="customer-review-block">
                                            <h5>Alexander PoppinsEmily Hills</h5> <strong> April 01, 2018</strong>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                                in voluptate velit esse cillum.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Customer Review End -->
                            <!-- Review Form Start -->
                            <form method="get" action="#" class="mt-60">
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <h3>Your Review</h3>
                                    </div>
                                    <div class="col-md-10 col-12 mt-5">
                                        <!-- Rating Stars START -->
                                        <div class="rating">
                                            <label>
                                                <input type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                        </div>
                                        <!-- Rating Stars END -->

                                        <div class="row">
                                            <!-- Form Input fields START -->
                                            <div class="review-input">
                                                <div class="col-md-6">
                                                    <input type="text" name="name" placeholder="Your Name">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="email" name="email" placeholder="Your Email">
                                                </div>
                                                <div class="col-md-12">
                                                    <textarea name="review" placeholder="Your Review"></textarea>

                                                    <div class="right-holder">
                                                        <button type="submit">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Input fields END -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Review Form End -->

                        </div>
                        <!-- Tab 3 End -->

                    </div>
                </div>
                <!-- Tabs End -->
            </div>
        </div>
        <!-- Middle Part END -->
    </div>
</div>
<!-- Shop Single END -->