
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <partial name="~/Views/Shop/PartialViews/ProductDetails/_ProductImagesAndAlternates.cshtml" />
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="single-product">
                    <h2>Effective Finance Solutions</h2>
                    <div class="product-review-area">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>

                        <span>(1 customer review)</span>
                    </div>

                    <!-- Price Start -->
                    <div class="single-product-price">
                        <h4>$1.750</h4>
                    </div>
                    <!-- Price End -->

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate.
                    </p>

                    <!-- Quantity Form and Button Start -->
                    <div class="quantity mt-30">
                        <form method="get">
                            <input type="number" name="quantity" min="1" max="9" step="1" value="1">
                            <button type="submit" class="dark-pulse-button add-to-cart-button">Buy Now</button>
                        </form>
                    </div>
                    <!-- Quantity Form and Button End -->

                    <div class="product-categories">
                        <div class="display-b">
                            <span>Category: </span>
                            <ul>
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Fiance</a></li>
                            </ul>
                        </div>
                        <div class="display-b">
                            <span>Product ID: </span>
                            <ul>
                                <li>789654</li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-tags">
                        <div class="display-b">
                            <span>Product Tags: </span>
                            <ul>
                                <li><a href="#">Fiance</a></li>
                                <li><a href="#">Books</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Strategy</a></li>
                                <li><a href="#">Planning</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-share mt-20">
                        <span>Share: </span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <partial name="~/Views/Shop/PartialViews/ProductDetails/_Tabs.cshtml" />
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/_ClientsCarousel.cshtml" />