<div class="page-title-section" style="background-image: url('@Url.Content("~/img/FAQ.jpg")');">
    <div class="container">
        <h1>FAQ</h1>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Faq">FAQ</a></li>
        </ul>
    </div>
</div>
