@model Intillegio.DTOs.BindingModels.TeamMemberBindingModel
<div class="col-md-6 col-sm-6 col-12">
    <div class="section-heading mt-40">
        <h6>Activities And Skills</h6>
        <div class="section-heading-line-left"></div>
    </div>
    <ul class="primary-list mt-40">
        @foreach (var skill in Model.ActivitiesAndSkills)
        {
            <li><i class="fa fa-check"></i>@skill.Name</li>
        }
    </ul>
</div>

<div class="col-md-6 col-sm-6 col-12">
    <div class="section-heading mt-40">
        <h6>Professional Skills</h6>
        <div class="section-heading-line-left"></div>
    </div>
    <div class="mt-40">
        @foreach (var bar in Model.ProffessionalSkills)
        {
            <div class="progress-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6">
                        @bar.Name
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 text-right">
                        @bar.Percentage
                    </div>
                </div>
            </div>
            <div class="progress custom-progress">
                <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                     style="width:@bar.Percentage%">
                </div>
            </div>
        }
    </div>
</div>