<div class="section-block-bg" style="background-image:url('@Url.Content("~/img/home1.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-sm-6">
                <div class="section-heading">
                    <span>Improve your business with us !</span>
                    <h4>First class business solutions since 1995</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content-big mt-20">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                </div>
                <div class="mt-25">
                    <ul class="primary-list">
                        <li><i class="fa fa-check-square"></i>Immigration consultant, Information technology consulting</li>
                        <li><i class="fa fa-check-square"></i>Consultant pharmacist Creative consultant</li>
                        <li><i class="fa fa-check-square"></i>Employment consultant Environmental consultant</li>
                    </ul>
                </div>
                <div class="mt-35">
                    <a href="#" class="primary-button button-md">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>