<div class="section-block-grey">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Tips & News</span>
            <h3>Read Our Latest Articles</h3>
            <div class="section-heading-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row mt-50">
            <div class="col-md-4 col-sm-4 col-12">
                <div class="blog-grid">
                    <div class="blog-grid-img">
                        <img src="http://via.placeholder.com/350x220" alt="img">
                        <div class="data-box-grid">
                            <h4>07</h4>
                            <p>Feb</p>
                        </div>
                    </div>
                    <div class="blog-grid-text">
                        <span>Business</span>
                        <h4>Advices for young designers</h4>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                            <li><i class="fa fa-list-ul"></i>Business</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <div class="mt-20 left-holder">
                            <a href="#" class="primary-button button-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="blog-grid">
                    <div class="blog-grid-img">
                        <img src="http://via.placeholder.com/350x220" alt="img">
                        <div class="data-box-grid">
                            <h4>08</h4>
                            <p>Feb</p>
                        </div>
                    </div>
                    <div class="blog-grid-text">
                        <span>Finance</span>
                        <h4>What Planning Process Needs?</h4>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                            <li><i class="fa fa-list-ul"></i>Finance</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <div class="mt-20 left-holder">
                            <a href="#" class="primary-button button-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="blog-grid">
                    <div class="blog-grid-img">
                        <img src="http://via.placeholder.com/350x220" alt="img">
                        <div class="data-box-grid">
                            <h4>09</h4>
                            <p>Feb</p>
                        </div>
                    </div>
                    <div class="blog-grid-text">
                        <span>Consulting</span>
                        <h4>Leverage Customer Analytics</h4>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                            <li><i class="fa fa-list-ul"></i>Consulting</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                        <div class="mt-20 left-holder">
                            <a href="#" class="primary-button button-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>