<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Explore Our Services</span>
            <h3>Let your business to grow with us</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-50">
            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-box-long">
                    <i class="icon-target"></i>
                    <h3>Business Solutions</h3>
                    <p>
                        We offer advice and solutions in the field of market introduction and long-term development of the market position of 
                        your goods and services on the Romanian market. We develop a strategy on an individual basis according to the 
                        requirements, needs and specifications of the client.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-box-long">
                    <i class="icon-diamond"></i>
                    <h3>Development Manager</h3>
                    <p>
                        We offer advice on identifying target markets, potential customers, pricing, optimal marketing levels, developing a 
                        strategy for promoting and presenting your products and services on the Romanian market, with a focus on maximizing the 
                        economic benefits to your business.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-box-long">
                    <i class="icon-bank"></i>
                    <h3>Professional Approach</h3>
                    <p>
                        We partner with some of the most experienced law, finance, accounting and communications professionals to
                        guarantee your rights and the success of your business in Romania. We assist privately owned
                        businesses, private investors and public bodies at every stage of their business in Romania.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>