<div class="col-md-6 col-sm-6 col-12">
    <div class="blog-list-img">
        <div class="video-video-box full-width">
            <img src="http://via.placeholder.com/400x250" class="rounded-border" alt="img">
            <div class="video-video-box-overlay">
                <div class="video-video-box-button">
                    <button class="video-video-play-icon" data-toggle="modal" data-target=".video-modal">
                        <i class="fa fa-play"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade video-modal" id="videomodal1" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <iframe height="415" src="https://www.youtube.com/embed/EWzsJG07vHY" class="full-width round-frame image-shadow"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>