<div class="blog-list-left-heading">
    <h4>Recent News</h4>
</div>
<div class="latest-posts">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-4 latest-posts-img">
            <img src="http://via.placeholder.com/80x80" alt="blog-img">
        </div>

        <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
            <a href="#">Simply dummy text of the printing</a>
            <span>Mar 13, 2018</span>
        </div>
    </div>
</div>

<div class="latest-posts">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-4 latest-posts-img">
            <img src="http://via.placeholder.com/80x80" alt="blog-img">
        </div>

        <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
            <a href="#">Simply dummy text of the printing</a>
            <span>Mar 19, 2018</span>
        </div>
    </div>
</div>

<div class="latest-posts">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-4 latest-posts-img">
            <img src="http://via.placeholder.com/80x80" alt="blog-img">
        </div>

        <div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
            <a href="#">Simply dummy text of the printing</a>
            <span>Mar 27, 2018</span>
        </div>
    </div>
</div>
