<div class="blog-list-left-heading">
    <h4>Share Links</h4>
</div>
<div class="blog-share">
    <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-skype"></i></a></li>
    </ul>
</div>
