@model Intillegio.DTOs.BindingModels.Admin.AdminQuickLinkBindingModel

@{
    ViewData["Title"] = "Add Quick Link";
    Layout = "~/Areas/Administration/Shared/_Layout.cshtml";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-secondary text-white">
            <h5 class="modal-title"><i class="fa fa-link"></i> Add Quick Link</h5>
        </div>
        <div class="modal-body">
            <form asp-action="AddQuickLink" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-label"></label>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <a asp-area="Administration" asp-controller="QuickLinksAdmin" asp-action="QuickLinksAdmin" class="btn btn-secondary">Close</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}