@model List<Intillegio.Common.ViewModels.Admin.AdminProjectViewModel>
@{
    ViewData["Title"] = "All Projects";
}
<section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" asp-area="Administration" asp-controller="ProjectsAdmin" asp-action="ProjectsAdmin">
                    <i class="fa fa-plus"></i> Add Project
                </a>
            </div>
        </div>
    </div>
</section>
<partial name="~/Areas/Administration/Views/ProjectsAdmin/Partials/_InfoProjects.cshtml" /> 