<div class="section-block-grey">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Our Testmonials</span>
            <h4>What Our Clients Say</h4>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-50">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="testmonial-box">
                    <div class="row">
                        <div class="col-2 pr-0">
                            <img src="http://via.placeholder.com/65x65" alt="image">
                        </div>
                        <div class="col-10">
                            <h5>Henry Ford</h5>
                            <span>Factory Manager</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="testmonial-box">
                    <div class="row">
                        <div class="col-2 pr-0">
                            <img src="http://via.placeholder.com/65x65" alt="image">
                        </div>
                        <div class="col-10">
                            <h5>Michelle Stacey</h5>
                            <span>Envato User</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="testmonial-box">
                    <div class="row">
                        <div class="col-2 pr-0">
                            <img src="http://via.placeholder.com/65x65" alt="image">
                        </div>
                        <div class="col-10">
                            <h5>Jasmin Priestley</h5>
                            <span>Company Owner</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="testmonial-box">
                    <div class="row">
                        <div class="col-2 pr-0">
                            <img src="http://via.placeholder.com/65x65" alt="image">
                        </div>
                        <div class="col-10">
                            <h5>Jason Smith</h5>
                            <span>Conulting Director</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
