@model Intillegio.DTOs.BindingModels.Admin.AdminTeamMemberBindingModel
@{
    ViewData["Title"] = "Add Team Member";

}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h5 class="modal-title"><i class="fa fa-users"></i> Add Team Member</h5>
        </div>
        <div class="modal-body">
            <form asp-action="AddTeamMember" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position"></label>
                    <input asp-for="Position" class="form-control">
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About"></label>
                    <textarea asp-for="About" class="form-control"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image350X290"></label>
                    <input asp-for="Image350X290" class="form-control">
                    <span asp-validation-for="Image350X290" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Facebook"></label>
                    <input asp-for="Facebook" class="form-control">
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Twitter"></label>
                    <input asp-for="Twitter" class="form-control">
                    <span asp-validation-for="Twitter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Instagram"></label>
                    <input asp-for="Instagram" class="form-control">
                    <span asp-validation-for="Instagram" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Skype"></label>
                    <input asp-for="Skype" class="form-control">
                    <span asp-validation-for="Skype" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Linkedin"></label>
                    <input asp-for="Linkedin" class="form-control">
                    <span asp-validation-for="Linkedin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Activities"></label>
                    <input id="activity" asp-for="Activities" class="form-control">
                </div>
                @*<div class="form-group">
                    <label asp-for="ActivitiesAndSkills"></label>

                    <fieldset>
                        <legend>Activities And Skills</legend>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Activities)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Activities)
                            @Html.ValidationMessageFor(model => model.Activities)
                        </div>
                        <div>
                            <input id="btnAddActivity" type="button" onclick="addActivities();" value="Add Activity or Skill" />
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        Title
                                    </td>
                                    <td>
                                        Published Date
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tbBooks"></tbody>
                        </table>
                    </fieldset>
                    }
                </div>*@
                <div class="modal-footer">
                    <a asp-area="Administration" asp-controller="TeamMembers" asp-action="TeamMembers" class="btn btn-secondary">Close</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Editor{
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>CKEDITOR.replace( 'About' );</script>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*@section ActivitiesAndSkills{
    <script language="javascript" type="text/javascript">
        function addActivities() {
            if (!$('#activity').val) {
                let activitiesValue = $('#activity').val();
            }
            console.log(activitiesValue);
            //var nameValue = $("#Activities").val;
            //console.log(nameValue);
        }
        function addRow() {

            @{
                Model.ActivitiesAndSkills.Add(new ActivityAndSkill());
            }

            var index = $("#tbBooks").children("tr").length;

            var indexCell = "<td style='display:none'><input name='Books.Index'  type='hidden' value='" + index + "' /></td>";

            var titleCell = "<td><input id='Books_" + index + "__Title'  name='Books[" + index + "].Title' type='text' value='' /></td>";

            var publishedCell = "<td><input id='Books_" + index + "__Title'  name='Books[" + index + "].PublishedDate' type='text' value='' /></td>";

            var removeCell = "<td><input id='btnAddBook' type='button'   value='Remove' onclick='removeRow(" + index + ");' /></td>";


            var newRow = "<tr id='trBook" + index + "'>" +
                indexCell + titleCell + publishedCell + removeCell + "</tr>";
            $("#tbBooks").append(newRow);
        }

        function removeRow(id) {
            var controlToBeRemoved = "#trBook" + id;
            $(controlToBeRemoved).remove();
        }
    </script>
}*@