@model Intillegio.DTOs.BindingModels.Admin.AdminTeamMemberBindingModel
@{
}
<form asp-action="TeamMemberEdit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title"><i class="fa fa-users"></i> Edit Team Member</h5>
            </div>
            <div class="modal-body">
                <partial name="~/Areas/Administration/Views/TeamMembers/Partials/_EditDetail.cshtml" />
            </div>
            <div class="modal-header bg-info text-white d-flex justify-content-around">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Save" class="btn btn-warning" />
                <a asp-area="Administration" asp-controller="TeamMembers" asp-action="TeamMembers" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
            </div>
        </div>
    </div>
</form>
@section Editor{
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>CKEDITOR.replace( 'About' );</script>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}