@{
    ViewData["Title"] = "Team Member Details";

}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h5 class="modal-title"><i class="fa fa-users"></i> Team Member Details</h5>
        </div>
        <div class="modal-body">
            <partial name="~/Areas/Administration/Views/TeamMembers/Partials/_Details.cshtml" />
        </div><div class="modal-footer d-flex justify-content-around">
            <a asp-area="Administration" asp-controller="TeamMembers" asp-action="TeamMembers" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back</a>
            <a asp-area="Administration" asp-controller="TeamMembers" asp-action="EditTeamMember" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
            <a asp-area="Administration" asp-controller="TeamMembers" asp-action="DeleteTeamMemberDetails" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}