<div class="col-md-6 col-sm-6 col-12">
    <div class="section-heading mt-40">
        <h6>Activities And Skills</h6>
        <div class="section-heading-line-left"></div>
    </div>
    <ul class="primary-list mt-40">
        <li><i class="fa fa-check"></i>Good Business Consultants are Excellent Communicators</li>
        <li><i class="fa fa-check"></i> At the End of a Project, Good Business Consultants Can “Let it Go”</li>
        <li><i class="fa fa-check"></i>Good Business Consultants Find Fulfilling Alternatives to Long-Term Work...</li>
        <li><i class="fa fa-check"></i>Good Business Consultants are Willing to Travel Where the Work Is</li>
        <li><i class="fa fa-check"></i>Write a Business Plan that Clearly Articulates the Following</li>
    </ul>
</div>

<div class="col-md-6 col-sm-6 col-12">
    <div class="section-heading mt-40">
        <h6>Professional Skills</h6>
        <div class="section-heading-line-left"></div>
    </div>
    <!-- PROGRESS BARS Start -->
    <div class="mt-40">
        <!-- Progress Bar Start -->
        <div class="progress-text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    Market Research
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                    10%
                </div>
            </div>
        </div>
        <div class="progress custom-progress">
            <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                 style="width:10%">
            </div>
        </div>
        <!-- Progress Bar End -->
        <!-- Progress Bar Start -->
        <div class="progress-text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    Sales Services
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                    25%
                </div>
            </div>
        </div>
        <div class="progress custom-progress">
            <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                 style="width:25%">
            </div>
        </div>
        <!-- Progress Bar End -->
        <!-- Progress Bar Start -->
        <div class="progress-text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    Online Reputation
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                    50%
                </div>
            </div>
        </div>
        <div class="progress custom-progress">
            <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                 style="width:50%">
            </div>
        </div>
        <!-- Progress Bar End -->
        <!-- Progress Bar Start -->
        <div class="progress-text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    Strategic Consulting
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                    75%
                </div>
            </div>
        </div>
        <div class="progress custom-progress">
            <div class="progress-bar custom-bar wow slideInLeft animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                 style="width:75%">
            </div>
        </div>
        <!-- Progress Bar End -->
    </div>
    <!-- PROGRESS BARS End -->
</div>