<a asp-area="" asp-controller="Solutions" asp-action="DownloadServices" target="_blank">
    <div class="download-file-button clearfix">
        <h5>Download Our Services file <span>(pdf)</span></h5>
        <i class="fa fa-file-pdf-o"></i>
    </div>
</a>