@model List<Intillegio.Common.ViewModels.SolutionViewModel>
<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Gain a Success With Us!</span>
            <h3>Solid Solutions & Perfect Achievement</h3>
            <div class="section-heading-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row mt-50">
            @foreach (var solution in Model.OrderBy(i => i.Id))
            {
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="service-block">
                        <img src="@solution.Image" alt="service">
                        <div class="clearfix">
                            <div class="service-block-number">
                                <h5>@solution.Id</h5>
                            </div>
                            <div class="service-block-title">
                                <h4><a href="#">@solution.Name</a></h4>
                            </div>
                        </div>
                        <p>@solution.About</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
