<div class="main-image-section" style="background-image:url('@Url.Content("~/img/MainImg.jpg")');">
    <!-- Overlay Start -->
    <div class="medium-overlay"></div>
    <!-- Overlay End -->

    <div class="main-image-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12 offset-md-3">
                    <div class="center-holder">
                        <h2>
                            We will help to improve your business
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>
                        <div class="mt-30">
                            <a href="#contact" class="primary-button button-md">Lean More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>