<div class="notice-section notice-section-sm border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-12">
                <div class="mt-5">
                    <h6>Looking for Professional Approach and Quality Services ?</h6>
                    <div class="section-heading-line-left"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="mt-10 right-holder-md">
                    <a href="#" class="primary-button button-sm mt-15-xs">Contact Us Today</a>
                </div>
            </div>
        </div>
    </div>
</div>