@model Intillegio.DTOs.BindingModels.Admin.AdminEditArticleBindingModel

@{
    ViewData["Title"] = "Edit Article";
    Layout = "~/Areas/Administration/Shared/_Layout.cshtml";
}
<form asp-action="ArticleEdit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title"><i class="fa fa-users"></i> Edit Article</h5>
            </div>
            <div class="modal-body">
                <partial name="~/Areas/Administration/Views/ArticlesAdmin/Partials/_EditDetail.cshtml" />
            </div>
            <div class="modal-header bg-info text-white d-flex justify-content-around">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-area="Administration" asp-controller="ArticlesAdmin" asp-action="ArticlesAdmin" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}