@model Intillegio.DTOs.BindingModels.TeamMemberBindingModel
@{
    ViewData["Title"] = "Team Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/About/PartialViews/TeamMemberDetails/_TeamSinglePageTitle.cshtml" />
<div class="section-block">
    <div class="container">
        <div class="team-single">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="team-single-img">
                        <img src="@Model.Image350X290" alt="img">
                    </div>
                </div>
                <partial name="~/Views/About/PartialViews/TeamMemberDetails/_PersonalInfo.cshtml" />
                <partial name="~/Views/About/PartialViews/TeamMemberDetails/_Skills.cshtml" />
            </div>
        </div>
    </div>
</div>