@model IEnumerable<Intillegio.Common.ViewModels.ArticleViewModel>

@foreach (var article in Model)
{
    <div class="footer-recent-post clearfix">
        <div class="footer-recent-post-thumb">
            <img src="@article.Image65X65" alt="img">
        </div>
        <div class="footer-recent-post-content">
            <span>@article.Date.ToString("MMMM d, yyyy")</span>
            <a asp-area="" asp-controller="Blog"asp-action="ArticleDetails" asp-route-id="@article.Id">@article.Name</a>
        </div>
    </div>
}