@model Intillegio.DTOs.BindingModels.ArticleBindingModel
@{
    ViewData["Title"] = "Article Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Blog/PartialViews/ArticleDetails/_PageTitleDetails.cshtml" />
<div class="section-block">
    <div class="container">
        <div class="row">
            <partial name="~/Views/Blog/PartialViews/ArticleDetails/_LeftSide.cshtml" />
            <partial name="~/Views/Blog/PartialViews/ArticleDetails/_RightSide.cshtml" />
        </div>
    </div>
</div>