@model Intillegio.DTOs.BindingModels.ProjectBindingModel
@{
    ViewData["Title"] = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Projects/PartialViews/ProjectDetails/_PageTitleDetails.cshtml" />
<div class="section-block">
    <div class="container">
        <div class="project-single">
            <div class="project-single-img">
                <img src="@Model.Image1110X450" class="rounded-border shadow-primary" alt="img">
            </div>
            <div class="project-single-text">
                <div class="row">
                    <partial name="~/Views/Projects/PartialViews/ProjectDetails/_LeftSide.cshtml" />
                    <partial name="~/Views/Projects/PartialViews/ProjectDetails/_RightSide.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Projects/PartialViews/ProjectDetails/_NoticeSection.cshtml" />