<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>Consulting Agency for every Business</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="mt-20">
                        <ul class="primary-list">
                            <li><i class="fa fa-check-square"></i>Immigration consultant, Information technology consulting</li>
                            <li><i class="fa fa-check-square"></i>Consultant pharmacist Creative consultant</li>
                            <li><i class="fa fa-check-square"></i>Employment consultant Environmental consultant</li>
                            <li><i class="fa fa-check-square"></i>Independent contractor, Permatemp</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="http://via.placeholder.com/540x360" class="rounded-border shadow-primary mt-15-xs" alt="img">
            </div>
        </div>
    </div>
</div>