<div class="page-title-section" style="background-image: url(http://via.placeholder.com/1730x300);">
    <div class="container">
        <h1>About Us</h1>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        </ul>
    </div>
</div>