@model Intillegio.DTOs.BindingModels.Admin.AdminQuickLinkBindingModel
<div class="d-flex justify-content-around row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Name)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Name)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Link)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Link)</p>
            </div>
        </div>
    </div>
</div>