@model Intillegio.DTOs.BindingModels.Admin.AdminQuickLinkBindingModel
<div class="d-flex justify-content-around row">
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Link" class="control-label"></label>
            <input asp-for="Link" class="form-control" />
            <span asp-validation-for="Link" class="text-danger"></span>
        </div>
    </div>
</div>