<div class="section-block">
    <div class="container">
        <div class="section-heading">
            <h5>Featured Products</h5>
            <div class="section-heading-line-left"></div>
        </div>
        <div class="row mt-30">
            <!-- Product Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="classic-shop">
                    <div class="classic-shop-img">
                        <img src="http://via.placeholder.com/255x325" alt="img">
                        <div class="shop-box-overlay">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12 pr-0">
                                    <a href="#">
                                        <div class="shop-to-card">
                                            <h4><span class="fa fa-eye"></span>Details</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 pl-0">
                                    <a href="#">
                                        <div class="shop-buy">
                                            <h4><span class="fa fa-cart-plus"></span>To Cart</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-shop-text">
                        <h4><a href="#">Bussines Strategies</a></h4>
                        <h5>$173.00</h5>
                        <ul class="shop-grid-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-empty"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="classic-shop">
                    <div class="classic-shop-img">
                        <img src="http://via.placeholder.com/255x325" alt="img">
                        <div class="shop-box-overlay">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12 pr-0">
                                    <a href="#">
                                        <div class="shop-to-card">
                                            <h4><span class="fa fa-eye"></span>Details</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 pl-0">
                                    <a href="#">
                                        <div class="shop-buy">
                                            <h4><span class="fa fa-cart-plus"></span>To Cart</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-shop-text">
                        <h4><a href="#">Annual Reports</a></h4>
                        <h5>$195.00</h5>
                        <ul class="shop-grid-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-empty"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="classic-shop">
                    <div class="classic-shop-img">
                        <img src="http://via.placeholder.com/255x325" alt="img">
                        <div class="shop-box-overlay">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12 pr-0">
                                    <a href="#">
                                        <div class="shop-to-card">
                                            <h4><span class="fa fa-eye"></span>Details</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 pl-0">
                                    <a href="#">
                                        <div class="shop-buy">
                                            <h4><span class="fa fa-cart-plus"></span>To Cart</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-shop-text">
                        <h4><a href="#">Effective Planning</a></h4>
                        <h5>$180.00</h5>
                        <ul class="shop-grid-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-empty"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="classic-shop">
                    <div class="classic-shop-img">
                        <img src="http://via.placeholder.com/255x325" alt="img">
                        <div class="shop-box-overlay">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12 pr-0">
                                    <a href="#">
                                        <div class="shop-to-card">
                                            <h4><span class="fa fa-eye"></span>Details</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 pl-0">
                                    <a href="#">
                                        <div class="shop-buy">
                                            <h4><span class="fa fa-cart-plus"></span>To Cart</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-shop-text">
                        <h4><a href="#">Market Research</a></h4>
                        <h5>$130.00</h5>
                        <ul class="shop-grid-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-empty"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="classic-shop">
                    <div class="classic-shop-img">
                        <img src="http://via.placeholder.com/255x325" alt="img">
                        <div class="shop-box-overlay">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12 pr-0">
                                    <a href="#">
                                        <div class="shop-to-card">
                                            <h4><span class="fa fa-eye"></span>Details</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 pl-0">
                                    <a href="#">
                                        <div class="shop-buy">
                                            <h4><span class="fa fa-cart-plus"></span>To Cart</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-shop-text">
                        <h4><a href="#">Professional Approach</a></h4>
                        <h5>$350.00</h5>
                        <ul class="shop-grid-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-empty"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="classic-shop">
                    <div class="classic-shop-img">
                        <img src="http://via.placeholder.com/255x325" alt="img">
                        <div class="shop-box-overlay">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12 pr-0">
                                    <a href="#">
                                        <div class="shop-to-card">
                                            <h4><span class="fa fa-eye"></span>Details</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 pl-0">
                                    <a href="#">
                                        <div class="shop-buy">
                                            <h4><span class="fa fa-cart-plus"></span>To Cart</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-shop-text">
                        <h4><a href="#">Consumer insights</a></h4>
                        <h5>$140.00</h5>
                        <ul class="shop-grid-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-empty"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="classic-shop">
                    <div class="classic-shop-img">
                        <img src="http://via.placeholder.com/255x325" alt="img">
                        <div class="shop-box-overlay">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12 pr-0">
                                    <a href="#">
                                        <div class="shop-to-card">
                                            <h4><span class="fa fa-eye"></span>Details</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 pl-0">
                                    <a href="#">
                                        <div class="shop-buy">
                                            <h4><span class="fa fa-cart-plus"></span>To Cart</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-shop-text">
                        <h4><a href="#">Online Reputation</a></h4>
                        <h5>$160.00</h5>
                        <ul class="shop-grid-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-empty"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Product End -->
            <!-- Product Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="classic-shop">
                    <div class="classic-shop-img">
                        <img src="http://via.placeholder.com/255x325" alt="img">
                        <div class="shop-box-overlay">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12 pr-0">
                                    <a href="#">
                                        <div class="shop-to-card">
                                            <h4><span class="fa fa-eye"></span>Details</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 pl-0">
                                    <a href="#">
                                        <div class="shop-buy">
                                            <h4><span class="fa fa-cart-plus"></span>To Cart</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-shop-text">
                        <h4><a href="#">Strategic Consulting</a></h4>
                        <h5>$190.00</h5>
                        <ul class="shop-grid-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half-empty"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Product End -->
        </div>
    </div>
</div>
