
@{
    ViewData["Title"] = "Index";
}
<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <h3>Administration Control Page</h3>
            <div class="section-heading-line"></div>
            <p>This page is for administering Intillegio website.</p>
        </div>
        <div class="row mt-50">
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_Partners.cshtml"/>
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_Projects.cshtml"/>
            

            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="icon-credit-card2"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Global Consumer insights</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut hendrerit tempus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>