
@{
    ViewData["Title"] = "Admin";
}
<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <h3>Administration Control Page</h3>
            <div class="section-heading-line"></div>
            <p>This page is for administering Intillegio website.</p>
        </div>
        <div class="row mt-50">
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_TeamMembers.cshtml" />
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_Services.cshtml" />
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_Projects.cshtml" />
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_Events.cshtml"/>
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_Articles.cshtml"/>
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_Products.cshtml"/>
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_Partners.cshtml"/>
            <partial name="~/Areas/Administration/Views/Dashboard/Components/_QuickLinks.cshtml"/>
        </div>
    </div>
</div>