<footer>
    <div class="container">
        <div class="row">
            <!-- Column 1 Start -->
            <div class="col-md-4 col-sm-6 col-12">
                <h3>About Us</h3>
                <div class="mt-25">
                    <p class="mt-25">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam.
                    </p>
                    <div class="footer-social-icons mt-25">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Column 1 End -->
            <!-- Column 2 Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <h3>Quick Links</h3>
                <ul class="footer-list">
                    <li><a href="#">Strategic Consulting</a></li>
                    <li><a href="#">Sales Services</a></li>
                    <li><a href="#">Market Research</a></li>
                    <li><a href="#">Online Reputation</a></li>
                    <li><a href="#">Strategic Consulting</a></li>
                    <li><a href="#">Sales Services</a></li>
                    <li><a href="#">Market Research</a></li>
                </ul>
            </div>
            <!-- Column 2 End -->
            <!-- Column 3 Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <h3>Recent Posts</h3>
                <div class="mt-25">
                    <!-- Post Start -->
                    <div class="footer-recent-post clearfix">
                        <div class="footer-recent-post-thumb">
                            <img src="http://via.placeholder.com/65x65" alt="img">
                        </div>
                        <div class="footer-recent-post-content">
                            <span>February 7, 2018</span>
                            <a href="#">Advices for young designers</a>
                        </div>
                    </div>
                    <!-- Post End -->
                    <!-- Post Start -->
                    <div class="footer-recent-post clearfix">
                        <div class="footer-recent-post-thumb">
                            <img src="http://via.placeholder.com/65x65" alt="img">
                        </div>
                        <div class="footer-recent-post-content">
                            <span>February 7, 2018</span>
                            <a href="#">What Planning Process Needs?</a>
                        </div>
                    </div>
                    <!-- Post End -->
                    <!-- Post Start -->
                    <div class="footer-recent-post clearfix">
                        <div class="footer-recent-post-thumb">
                            <img src="http://via.placeholder.com/65x65" alt="img">
                        </div>
                        <div class="footer-recent-post-content">
                            <span>February 7, 2018</span>
                            <a href="#">Lorem ipsum dolor sit amet.</a>
                        </div>
                    </div>
                    <!-- Post End -->
                </div>
            </div>
            <!-- Column 3 End -->
            <!-- Column 4 Start -->
            <div class="col-md-2 col-sm-6 col-12">
                <h3>Tags</h3>
                <div class="footer-tags mt-25">
                    <a href="#">Business</a>
                    <a href="#">Conusltant</a>
                    <a href="#">Coach</a>
                    <a href="#">UX</a>
                    <a href="#">API</a>
                    <a href="#">Reputation</a>
                    <a href="#">Research</a>
                    <a href="#">Sale</a>
                    <a href="#">Service</a>
                    <a href="#">UI</a>
                    <a href="#">Web</a>
                    <a href="#">WebDesign</a>
                </div>
            </div>
            <!-- Column 4 End -->
        </div>
        <div class="footer-bar">
            <p><span class="primary-color">Intillegio</span> &copy; @DateTime.Now.Year.  All Rights Reserved.</p>
        </div>
    </div>
</footer>