<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <h3>About Us</h3>
                <div class="mt-25">
                    <p class="mt-25">
                        Intillegio Ltd offers high quality services and professional solutions to foreign companies which want to enter or to extend their business on the Romanian market.
                    </p>
                    <div class="footer-social-icons mt-25">
                        <ul>
                            <li><a target="_blank" href="https://www.facebook.com/Intillegio-Ltd-107323070613886/"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/intillegio/"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://www.pinterest.com/2b888b25cc5bcdca9697937119bafb/"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h3>Quick Links</h3>
                <ul class="footer-list">
                    <li><a target="_blank" href="https://sicap-prod.e-licitatie.ro/pub">Public procurements</a></li>
                    <li><a target="_blank" href="https://civitta.com/countries/romania">Strategic Consulting</a></li>
                    <li><a target="_blank" href="https://inout.bg/">Sales Services</a></li>
                    <li><a target="_blank" href="http://www.research-pmr.com/market-research-romania">Market Research</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h3>Recent Posts</h3>
                <div class="mt-25">
                    <partial name="~/Views/Shared/_Articles.cshtml" />
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <p><span class="primary-color">Intillegio</span> &copy; @DateTime.Now.Year.  All Rights Reserved.</p>
        </div>
    </div>
</footer>