<div class="col-md-4 col-sm-4 col-12">
    <div class="feature-flex">
        <div class="clearfix">
            <div class="feature-flex-icon">
                <i class="icon-balance3"></i>
            </div>
            <div class="feature-flex-content">
                <h4><a asp-area="Administration" asp-controller="Partners" asp-action="AllPartners">Partners</a></h4>
                <p>Depicting how many partners the company has, ability to add, edit and delete partners</p>
            </div>
        </div>
    </div>
</div>