<div class="col-md-4 col-sm-4 col-12">
    <div class="feature-flex">
        <div class="clearfix">
            <div class="feature-flex-icon">
                <i class="icon-balance3"></i>
            </div>
            <div class="feature-flex-content">
                <h4><a asp-area="Administration" asp-controller="ProductsAdmin" asp-action="ProductsAdmin">Products</a></h4>
                <p>The Admin can add products here which partners can aquire with points, depending on the partners contracts with the company</p>
            </div>
        </div>
    </div>
</div>