<div class="col-md-4 col-sm-4 col-12">
    <div class="feature-flex">
        <div class="clearfix">
            <div class="feature-flex-icon">
                <i class="icon-balance3"></i>
            </div>
            <div class="feature-flex-content">
                <h4><a asp-area="Administration" asp-controller="SolutionsAdmin" asp-action="SolutionsAdmin">Services</a></h4>
                <p>Best services which company provides can be added, edited and deleted in this section</p>
            </div>
        </div>
    </div>
</div>