<div class="col-md-4 col-sm-4 col-12">
    <div class="feature-flex">
        <div class="clearfix">
            <div class="feature-flex-icon">
                <i class="icon-balance3"></i>
            </div>
            <div class="feature-flex-content">
                <h4><a asp-area="Administration" asp-controller="TeamMembers" asp-action="TeamMembers">Team Members</a></h4>
                <p>All the lovely employees of the company could magically appear in the web site if the Admin uses the power of CRUD implemented in this seciont</p>
            </div>
        </div>
    </div>
</div>