<div class="col-md-9 col-sm-8 col-12 pr-30-md">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="blog-grid">
                <div class="blog-grid-img">
                    <img src="http://via.placeholder.com/390x245" alt="img">
                    <div class="data-box-grid">
                        <h4>07</h4>
                        <p>Feb</p>
                    </div>
                </div>
                <div class="blog-grid-text">
                    <span>Business</span>
                    <h4>Advices for young designers</h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                        <li><i class="fa fa-list-ul"></i>Business</li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                    <div class="mt-20 left-holder">
                        <a href="#" class="primary-button button-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="blog-grid">
                <div class="blog-grid-img">
                    <img src="http://via.placeholder.com/390x245" alt="img">
                    <div class="data-box-grid">
                        <h4>07</h4>
                        <p>Feb</p>
                    </div>
                </div>
                <div class="blog-grid-text">
                    <span>Business</span>
                    <h4>Advices for young designers</h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                        <li><i class="fa fa-list-ul"></i>Business</li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                    <div class="mt-20 left-holder">
                        <a href="#" class="primary-button button-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="blog-grid">
                <div class="blog-grid-img">
                    <img src="http://via.placeholder.com/390x245" alt="img">
                    <div class="data-box-grid">
                        <h4>07</h4>
                        <p>Feb</p>
                    </div>
                </div>
                <div class="blog-grid-text">
                    <span>Business</span>
                    <h4>Advices for young designers</h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                        <li><i class="fa fa-list-ul"></i>Business</li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                    <div class="mt-20 left-holder">
                        <a href="#" class="primary-button button-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="blog-grid">
                <div class="blog-grid-img">
                    <img src="http://via.placeholder.com/390x245" alt="img">
                    <div class="data-box-grid">
                        <h4>07</h4>
                        <p>Feb</p>
                    </div>
                </div>
                <div class="blog-grid-text">
                    <span>Business</span>
                    <h4>Advices for young designers</h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                        <li><i class="fa fa-list-ul"></i>Business</li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                    <div class="mt-20 left-holder">
                        <a href="#" class="primary-button button-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="blog-grid">
                <div class="blog-grid-img">
                    <img src="http://via.placeholder.com/390x245" alt="img">
                    <div class="data-box-grid">
                        <h4>07</h4>
                        <p>Feb</p>
                    </div>
                </div>
                <div class="blog-grid-text">
                    <span>Business</span>
                    <h4>Advices for young designers</h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                        <li><i class="fa fa-list-ul"></i>Business</li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                    <div class="mt-20 left-holder">
                        <a href="#" class="primary-button button-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="blog-grid">
                <div class="blog-grid-img">
                    <img src="http://via.placeholder.com/390x245" alt="img">
                    <div class="data-box-grid">
                        <h4>07</h4>
                        <p>Feb</p>
                    </div>
                </div>
                <div class="blog-grid-text">
                    <span>Business</span>
                    <h4>Advices for young designers</h4>
                    <ul>
                        <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                        <li><i class="fa fa-list-ul"></i>Business</li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                    <div class="mt-20 left-holder">
                        <a href="#" class="primary-button button-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
