<div class="col-md-3 col-sm-4 col-12">
    <div class="blog-list-right">
        <div id="search-input">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <partial name="~/Views/Blog/PartialViews/_Categories.cshtml" />
        <partial name="~/Views/Blog/PartialViews/_RecentNews.cshtml" />
        <partial name="~/Views/Blog/PartialViews/_Archives.cshtml" />
        <partial name="~/Views/Blog/PartialViews/_Tags.cshtml" />
        <partial name="~/Views/Blog/PartialViews/_ShareLinks.cshtml" />
    </div>
</div>
