<div class="blog-list-left-heading">
    <h4>Tags</h4>
</div>
<div class="mt-10">
    <a href="#" class="button-tag primary-button">Funding</a>
    <a href="#" class="button-tag primary-button">Merchant</a>
    <a href="#" class="button-tag primary-button">Job</a>
    <a href="#" class="button-tag primary-button">Wallet</a>
    <a href="#" class="button-tag primary-button">Technology</a>
    <a href="#" class="button-tag primary-button">Coin</a>
    <a href="#" class="button-tag primary-button">Funding</a>
    <a href="#" class="button-tag primary-button">Transaction</a>
</div>
