@model Intillegio.DTOs.BindingModels.ProjectBindingModel
<div class="col-md-8 col-sm-8 col-12">
    <h4>@Model.Name</h4>
    <p>
        @Model.ProjectInfo
    </p>
    <h4>Project Features</h4>
    <ul>
        <li><i class="fa fa-check"></i>Immigration consultant, Information technology consulting.</li>
        <li><i class="fa fa-check"></i>Consultant pharmacist Creative consultant.</li>
        <li><i class="fa fa-check"></i>Employment consultant Environmental consultant.</li>
        <li><i class="fa fa-check"></i>Independent contractor, Permatemp.</li>
        <li><i class="fa fa-check"></i>Consultant pharmacist Creative consultant.</li>
    </ul>
</div>