<div class="page-title-section" style="background-image:url('@Url.Content("~/img/abstract-red.jpg")');">
    <div class="container">
        <h1>Project Details</h1>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Projects" asp-action="AllProjects">Projects</a></li>
            <li><a asp-area="" asp-controller="Projects" asp-action="ProjectDetails">Projects details</a></li>
        </ul>
    </div>
</div>
