<div class="customer-review">
    <div class="row">
        <div class="col-md-1 pr-0 hidden-sm-down">
            <img src="http://via.placeholder.com/75x75" alt="member">
            <div class="customer-review-stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-11 col-12">
            <div class="customer-review-block">
                <h5>Alexander PoppinsEmily Hills</h5> <strong> April 01, 2018</strong>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum.
                </p>
            </div>
        </div>
    </div>
</div>