<div class="product-images">
    <!-- Begin Product Images Slider -->
    <div class="main-img-slider">
        <figure>
            <a href="#" data-size="1400x1400">
                <img src="http://via.placeholder.com/540x540" alt=""/>
            </a>
        </figure>
    </div>
    <!-- End Product Images Slider -->
    <!-- Begin product thumb nav -->
    <ul class="thumb-nav">
        <li><img src="http://via.placeholder.com/135x135" alt="product-thumb"/></li>
        <li><img src="http://via.placeholder.com/135x135" alt="product-thumb"/></li>
        <li><img src="http://via.placeholder.com/135x135" alt="product-thumb"/></li>
        <li><img src="http://via.placeholder.com/135x135" alt="product-thumb"/></li>
    </ul>
    <!-- End product thumb nav -->
</div>