<form method="get" action="#" class="mt-60">
    <div class="row">
        <div class="col-md-2 col-12">
            <h3>Your Review</h3>
        </div>
        <div class="col-md-10 col-12 mt-5">
            <!-- Rating Stars START -->
            <div class="rating">
                <label>
                    <input type="radio" name="stars" value="1" />
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="2" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="3" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="4" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="5" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </div>
            <!-- Rating Stars END -->

            <div class="row">
                <!-- Form Input fields START -->
                <div class="review-input">
                    <div class="col-md-6">
                        <input type="text" name="name" placeholder="Your Name">
                    </div>
                    <div class="col-md-6">
                        <input type="email" name="email" placeholder="Your Email">
                    </div>
                    <div class="col-md-12">
                        <textarea name="review" placeholder="Your Review"></textarea>

                        <div class="right-holder">
                            <button type="submit">Send</button>
                        </div>
                    </div>
                </div>
                <!-- Form Input fields END -->
            </div>
        </div>
    </div>
</form>