<div class="shop-tabs">
    <div class='tabs tabs_animate mt-70'>
        <ul class="tab-menu left-holder">
            <li><a href="#tab-1">Description</a></li>
            <li><a href="#tab-2">Additional Information</a></li>
            <li><a href="#tab-3">Reviews (1)</a></li>
        </ul>

        <!-- Tab 1 Start -->
        <div id='tab-1' class="clearfix product-tab-body">
            <h3>Product Description</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        <!-- Tab 1 End -->
        <!-- Tab 2 Start -->
        <div id='tab-2' class="clearfix product-tab-body">
            <h3>Product Features</h3>
            <ul>
                <li><span>Name:</span>Effective Finance Solutions</li>
                <li><span>Category:</span>Book</li>
                <li><span>Size:</span>15x20 cm</li>
                <li><span>Weight:</span>0.55 kg</li>
                <li><span>Material:</span>Paper</li>
                <li><span>Color:</span>White & Red</li>
            </ul>
        </div>
        <!-- Tab 2 End -->
        <!-- Tab 3 Start -->
        <div id='tab-3' class="clearfix product-tab-body">
            <h3>Customer Reviews</h3>
            <partial name="~/Views/Shop/PartialViews/ProductDetails/_CustomerReview.cshtml" />
            <partial name="~/Views/Shop/PartialViews/ProductDetails/_ReviewForm.cshtml" />
        </div>
        <!-- Tab 3 End -->
    </div>
</div>