<div class="page-title-section" style="background-image:url('@Url.Content("~/img/QnA.jpg")');">
    <div class="container">
        <h1>Contact</h1>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
        </ul>
    </div>
</div>