@model Intillegio.DTOs.BindingModels.Admin.AdminPartnerBindingModel

@{
    ViewData["Title"] = "AddPartner";
    Layout = "~/Areas/Administration/Shared/_Layout.cshtml";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h5 class="modal-title">Add Partner</h5>
        </div>
        <div class="modal-body">
            <form asp-action="AddPartner" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About" class="control-label"></label>
                    <input asp-for="About" class="form-control" />
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Logo155X75" class="control-label"></label>
                    <input asp-for="Logo155X75" class="form-control" />
                    <span asp-validation-for="Logo155X75" class="text-danger"></span>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <a asp-area="Administration" asp-controller="PartnersAdmin" asp-action="PartnersAdmin" class="btn btn-secondary">Close</a>
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}