<nav id="navigation4" class="container navigation">
    <div class="nav-header">
        <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="img/logos/logo.png" class="main-logo" alt="logo" id="main_logo">
        </a>
        <div class="nav-toggle"></div>
    </div>
    <div class="nav-menus-wrapper">
        <ul class="nav-menu align-to-right">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a href="#">About</a>
                <ul class="nav-dropdown">
                    <li><a href="about.html">About Us 01</a></li>
                    <li><a href="about-2.html">About Us 02</a></li>
                    <li><a href="team.html">Our Team 01</a></li>
                    <li><a href="team-2.html">Our Team 02</a></li>
                    <li><a href="team-3.html">Our Team 03</a></li>
                    <li><a href="team-single.html">Team Single</a></li>
                    <li><a href="partners.html">Our Partners</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Services</a>
                <ul class="nav-dropdown">
                    <li><a href="services.html">Services 01</a></li>
                    <li><a href="services-2.html">Services 02</a></li>
                    <li><a href="services-3.html">Services 03</a></li>
                    <li><a href="service-detail.html">Service Detail</a></li>
                    <li><a href="cases.html">Cases</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Projects</a>
                <ul class="nav-dropdown">
                    <li><a href="projects-grid.html">Grid Style</a></li>
                    <li><a href="projects-masonry-3-column.html">Masonry Style 01</a></li>
                    <li><a href="projects-masonry-4-column.html">Masonry Style 02</a></li>
                    <li><a href="project-detail.html">Projects Detail 01</a></li>
                    <li><a href="project-detail-2.html">Projects Detail 02</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Blog</a>
                <ul class="nav-dropdown">
                    <li><a href="blog-grid.html">Blog Grid</a></li>
                    <li><a href="blog-grid-classic.html">Blog Grid Classic</a></li>
                    <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                    <li><a href="blog-list.html">Blog List</a></li>
                    <li><a href="blog-list-sidebar.html">Blog List Sidebar</a></li>
                    <li><a href="blog-post.html">Blog Post</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Shop</a>
                <ul class="nav-dropdown">
                    <li><a href="shop-grid.html">Grid Style 3 Col</a></li>
                    <li><a href="shop-grid-4-col.html">Grid Style 4 Col</a></li>
                    <li><a href="shop-grid-classic.html">Classic Style 3 Col</a></li>
                    <li><a href="shop-grid-classic-4-col.html">Classic Style 4 Col</a></li>
                    <li><a href="shop-single.html">Shop Single</a></li>
                    <li><a href="shopping-cart.html">Shopping Cart</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Pages</a>
                <ul class="nav-dropdown">
                    <li><a href="faq.html">FAQ 01</a></li>
                    <li><a href="faq-2.html">FAQ 02</a></li>
                    <li><a href="404.html">Error 404</a></li>
                    <li><a href="under-construction.html">Under Construction</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Elements</a>
                <ul class="nav-dropdown">
                    <li><a href="feature-boxes.html">Feature Boxes</a></li>
                    <li><a href="pricing-lists.html">Pricing Lists</a></li>
                    <li><a href="testmonials.html">Testmonials</a></li>
                    <li><a href="progress-bars.html">Progress Bars</a></li>
                    <li><a href="accordions.html">Accordions</a></li>
                    <li><a href="animated-tabs.html">Animated Tabs</a></li>
                    <li><a href="countups.html">Countups</a></li>
                    <li><a href="responsive-videos.html">Responsive Videos</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Contact</a>
                <ul class="nav-dropdown">
                    <li><a href="contact.html">Contact Us 01</a></li>
                    <li><a href="contact-2.html">Contact Us 02</a></li>
                    <li><a href="contact-3.html">Contact Us 03</a></li>
                    <li><a href="contact-4.html">Contact Us 04</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>