<nav id="navigation4" class="container navigation">
    <div class="nav-header">
        <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/logos/logo.png" class="main-logo" alt="logo" id="main_logo">
        </a>
        <div class="nav-toggle"></div>
    </div>
    <div class="nav-menus-wrapper">
        <ul class="nav-menu align-to-right">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="About">About Us</a>
            </li>
            <li>
                <a href="#">Services</a>
                <ul class="nav-dropdown">
                    <li><a href="services.html">Services 01</a></li>
                    <li><a href="services-2.html">Services 02</a></li>
                    <li><a href="services-3.html">Services 03</a></li>
                    <li><a href="service-detail.html">Service Detail</a></li>
                    <li><a href="cases.html">Cases</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Projects</a>
                <ul class="nav-dropdown">
                    <li><a href="projects-grid.html">Grid Style</a></li>
                    <li><a href="projects-masonry-3-column.html">Masonry Style 01</a></li>
                    <li><a href="projects-masonry-4-column.html">Masonry Style 02</a></li>
                    <li><a href="project-detail.html">Projects Detail 01</a></li>
                    <li><a href="project-detail-2.html">Projects Detail 02</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Blog</a>
                <ul class="nav-dropdown">
                    <li><a href="blog-grid.html">Blog Grid</a></li>
                    <li><a href="blog-grid-classic.html">Blog Grid Classic</a></li>
                    <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                    <li><a href="blog-list.html">Blog List</a></li>
                    <li><a href="blog-list-sidebar.html">Blog List Sidebar</a></li>
                    <li><a href="blog-post.html">Blog Post</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Shop</a>
                <ul class="nav-dropdown">
                    <li><a href="shop-grid.html">Grid Style 3 Col</a></li>
                    <li><a href="shop-grid-4-col.html">Grid Style 4 Col</a></li>
                    <li><a href="shop-grid-classic.html">Classic Style 3 Col</a></li>
                    <li><a href="shop-grid-classic-4-col.html">Classic Style 4 Col</a></li>
                    <li><a href="shop-single.html">Shop Single</a></li>
                    <li><a href="shopping-cart.html">Shopping Cart</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Contact</a>
                <ul class="nav-dropdown">
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    <li><a href="contact.html">Contact Us 01</a></li>
                </ul>
            </li>
            <partial name="_LoginPartial" />
        </ul>
    </div>
</nav>