<div class="page-title-section" style="background-image:url('@Url.Content("~/img/abstract-red.jpg")');">
    <div class="container">
        <h1>Blog</h1>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Blog" asp-action="Blog">Blog</a></li>
        </ul>
    </div>
</div>
