@{
    this.ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1 style="text-align: center">Review our cookie and privacy policy</h1>
    <p style="text-align: center">In order for this website to work correctly, we sometimes put small data files on your device, called cookies.</p><br /><br />
    <h2>What are cookies?</h2>
    <p>
        Cookies are small text files, which are saved on your computer or mobile device when you visit a website. They allow the website to memorize your actions and preferences (like username, language, font size and other
        settings) for a given period, so you wouldn’t have to enter them each time you visit the website or go from one page to another.
    </p>
    <h2>How do we use the cookies?</h2>
    <p>
        Part of the cookies, which we use, are important and we can’t guarantee the quality of our services without them, such as the proper functioning of our website. You can delete or block the cookies, but if you do that, it
        is possible that some functions on the website will not work as they should.
        We also use cookies, which are not absolutely necessary for the functioning of the website, but they make it more convenient to use. Cookies are used to save:
        <ul>
            <li> - your website display settings, such as navigation language, contrast, font size, used device, search result preferences and notifications;</li>
            <li> - your last visit to the website and the last page from the website, which you visited (for statistical purposes);</li>
        </ul>
    </p>
    <h2>Personal data</h2>
    <p>The information related to the cookies is not used to establish your identity, the data samples are entirely under our control. The cookies are not used for purposes different than the ones stated here.</p>
    <h2>Third party cookies</h2>
    <p>
        We use Google Analytics, a service, which sends data about the traffic to our website to the servers of Google, which are in the USA. Google Analytics does not identify the individual users and does not associate your
        IP address with other data, stored by Google. We use reports made by Google Analytics in order to understand what the traffic to our website is, as well as the visits to individual pages in our website.
        By using this website, you agree that Google will process your data as described in <a href="https://policies.google.com/privacy?hl=en" style="text-decoration: underline; color: blue">their Privacy Policy</a>. You can put a stop to the collection of your data by Google
        Analytics if you turn off or block their cookies or use the Opt-out form, created by Google.
        There are integrated instruments in our website for sharing its content in the social networks. This sharing is controlled by third parties (the corresponding social network). These third parties can also put cookies
        on your computer and/or mobile device if you choose to use them. For more information, read the Privacy Policies of the corresponding social networks, in which you choose to share the content of our website.
    </p>
    <h2>How to control the cookies</h2>
    <p>
        You can control and/or delete the cookies as you please. You can delete all cookies, which have already been saved on your device, as well as set most browsers to block them. However, if you do that, you might have to
        manually set some parameters each time you visit the website and it’s also possible that some services and functions will not work correctly.
        The following links can help you if you need additional information or you could use the Help button in your browser’s menu for more details:
        <ul>
            <li><a target="_blank" href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" style="text-decoration: underline; color: blue">Cookie settings in Internet Explorer</a></li>
            <li><a target="_blank" href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" style="text-decoration: underline; color: blue">Cookie settings in Firefox</a></li>
            <li><a target="_blank" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en" style="text-decoration: underline; color: blue">Cookie settings in Chrome</a></li>
            <li><a target="_blank" href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" style="text-decoration: underline; color: blue">Cookie settings in Cookie settings in Safari web and iOS</a></li>
        </ul>
    </p>
</div>