<div class="section-block-bg" style="background-image: url(http://via.placeholder.com/1730x850);">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-12 offset-md-5">
                <div class="section-heading">
                    <span>Improve your business with us !</span>
                    <h4>First class business solutions since 1995</h4>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-10">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <!-- Feature Boxes START -->
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon">
                                    <i class="icon-target"></i>
                                </div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">Business Solutions</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut.</p>
                                    <a href="#" class="feature-flex-square-content-button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon">
                                    <i class="icon-diamond"></i>
                                </div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">Development Manager</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut.</p>
                                    <a href="#" class="feature-flex-square-content-button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon">
                                    <i class="icon-networking"></i>
                                </div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">Global Consumer insights</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut.</p>
                                    <a href="#" class="feature-flex-square-content-button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon">
                                    <i class="icon-hourglass"></i>
                                </div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">Professional Approach</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum, nunc ut.</p>
                                    <a href="#" class="feature-flex-square-content-button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Feature Boxes END -->
            </div>
        </div>
    </div>
</div>