<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Explore Our Services</span>
            <h3>Let your business to grow with us</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-50">
            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-box-long">
                    <i class="icon-target"></i>
                    <h3>Business Solutions</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-box-long">
                    <i class="icon-diamond"></i>
                    <h3>Development Manager</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-box-long">
                    <i class="icon-bank"></i>
                    <h3>Professional Approach</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>