<div class="video-section">
    <div class="video-area" id="video-area">
        <div class="player" id="video-play"
             data-property="{videoURL:'https://www.youtube.com/watch?v=buBvqw6G3WU', containment:'#video-area', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:55, opacity:1, quality:'low',}"></div>
        <div class="video-overlay">
            <div class="video-content">
                <div class="section-heading center-holder white-color">
                    <span>Gain a Success With Us!</span>
                    <h2><strong>Creative Consulting Agency</strong></h2>
                    <h4>For Smart Solutions.</h4>
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="primary-button button-md mt-10">Become a Client</a>
                </div>
            </div>
        </div>
    </div>
</div>