<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>Consulting Agency for every Business</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20">
                        <p>
                            Let us guide you through your business growth in Romania
                        </p>
                    </div>
                    <div class="mt-20">
                        <ul class="primary-list">
                            <li><i class="fa fa-check-square"></i>Еconomic, tax and legal consulting in Romania</li>
                            <li><i class="fa fa-check-square"></i>Public procurements in Romania</li>
                            <li><i class="fa fa-check-square"></i>Translation and interpretation</li>
                            <li><i class="fa fa-check-square"></i>Marketing, Communication strategy and Content creation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/img/home5.jpg" class="rounded-border shadow-primary mt-15-xs" alt="img">
            </div>
        </div>
    </div>
</div>